{% extends "layout.html" %}

{% block title %}Анализатор страниц{% endblock %}

{% block content %}
<div>
  <h1></h1>
</div>
<div class="container-lg text-bg-secondary rounded-3 p-3">
  <h1 class="display-1 text-center">Анализатор страниц</h1>
  <h3 class="text-center">Бесплатно проверяйте сайты на SEO-пригодность</h3>
  <form class="d-flex" action="{{ url_for('post_url') }}" method="post">
      <div class="input-group">
        <span class="input-group-text" id="basic-addon3">Введите адрес</span>
        <input type="url" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" placeholder="https://www.example.com" name="url" value="{{ search }}">
        <input class="btn btn-primary text-uppercase" type="submit">
      </div>
  </form>
  {% if errors['url'] %}
  <h1></h1>
  <div class="position-relative py-2 px-4 w-auto">
    <div class="badge text-bg-dark position-absolute top-50 start-50 translate-middle">{{ errors['url'] }}</div>
  </div>
  {% endif %}
</div>
{% endblock %}