{% extends "layout.html" %}

{% block header %}
<h1>Сайты</h1>
{% endblock %}

{% block urls_table %}
<div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="urls">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Последняя проверка</th>
                <th>Код ответа</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
            <tr>
                <td>{{ url['id'] }}</td>
                <td><a href="{{ url_for('urls_id', url_id=url['id']) }}">{{ url['name'] }}</a></td>
                <td>{{ url['latest_created_at'] }}</td>
                <td>{{ url['latest_status_code'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}